USE [master]
GO
/****** Object:  Database [CleBrews]    Script Date: 12/10/2018 1:55:46 PM ******/
CREATE DATABASE [CleBrews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CleBrews', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CleBrews.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CleBrews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CleBrews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CleBrews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CleBrews]
GO
/****** Object:  Table [dbo].[Beers]    Script Date: 12/10/2018 1:55:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[abv] [real] NULL,
	[image_url] [varchar](500) NULL,
	[description] [varchar](1000) NULL,
 CONSTRAINT [pk_beers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beers_BeerTypes]    Script Date: 12/10/2018 1:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beers_BeerTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[beer_id] [int] NOT NULL,
	[beertype_id] [int] NOT NULL,
 CONSTRAINT [pk_beers_beertypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeerTypes]    Script Date: 12/10/2018 1:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeerTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [pk_beertypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breweries]    Script Date: 12/10/2018 1:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breweries](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[address_1] [varchar](255) NULL,
	[address_2] [varchar](255) NULL,
	[address_city] [varchar](255) NULL,
	[address_zip] [varchar](10) NULL,
	[happyhour_start] [varchar](255) NULL,
	[happyhour_end] [varchar](255) NULL,
	[happyhour_details] [varchar](255) NULL,
	[brewery] [bit] NOT NULL,
	[bar] [bit] NOT NULL,
 CONSTRAINT [pk_breweries] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Breweries_Beers]    Script Date: 12/10/2018 1:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Breweries_Beers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bar_id] [int] NOT NULL,
	[beer_id] [int] NOT NULL,
 CONSTRAINT [pk_breweries_beers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/10/2018 1:55:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[salt] [varchar](50) NOT NULL,
	[role] [varchar](50) NULL,
 CONSTRAINT [pk_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[Beers_BeerTypes]  WITH CHECK ADD  CONSTRAINT [fk_beers_bt] FOREIGN KEY([beer_id])
REFERENCES [dbo].[Beers] ([id])
GO
ALTER TABLE [dbo].[Beers_BeerTypes] CHECK CONSTRAINT [fk_beers_bt]
GO
ALTER TABLE [dbo].[Beers_BeerTypes]  WITH CHECK ADD  CONSTRAINT [fk_beertypes_bt] FOREIGN KEY([beertype_id])
REFERENCES [dbo].[BeerTypes] ([id])
GO
ALTER TABLE [dbo].[Beers_BeerTypes] CHECK CONSTRAINT [fk_beertypes_bt]
GO
ALTER TABLE [dbo].[Breweries_Beers]  WITH CHECK ADD  CONSTRAINT [fk_beers] FOREIGN KEY([beer_id])
REFERENCES [dbo].[Beers] ([id])
GO
ALTER TABLE [dbo].[Breweries_Beers] CHECK CONSTRAINT [fk_beers]
GO
ALTER TABLE [dbo].[Breweries_Beers]  WITH CHECK ADD  CONSTRAINT [fk_breweries] FOREIGN KEY([bar_id])
REFERENCES [dbo].[Breweries] ([id])
GO
ALTER TABLE [dbo].[Breweries_Beers] CHECK CONSTRAINT [fk_breweries]
GO
USE [master]
GO
